<h3 class = "section-title"><i class="fas fa-award"></i> Achievements</h3>

<div class = "row achievement-item">
    <div class = "col s0 md1 l2 xl2">

    </div>
    <div class = "col s12 md10 l8 xl8" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "600">
        <div class = "card">
            <div class="card-content">
                <span class="card-title"><strong>1<sup>st</sup> Rank</strong> @ SRM Chennai Competitive Coding Contest</span>
            </div>
            <div class="card-action">
                <a href = "https://ninjasfiles.s3.amazonaws.com/certificate_of_event_ode_to_code_srm_chennai_-307183026198862849_1624526.pdf?utm_source=sendinblue&utm_campaign=Coding_event_certificate_template_new&utm_medium=email" target = "_blank">Certificate Link</a>
            </div>
        </div>
    </div>
    <div class = "col s0 md1 l2 xl2">

    </div>
</div>

<div class = "row achievement-item">
    <div class = "col s0 md1 l2 xl2">

    </div>
    <div class = "col s12 md10 l8 xl8" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "600">
        <div class = "card">
            <div class="card-content">
                <span class="card-title"><strong>3<sup>rd</sup> Rank</strong> @ NIT Patna Competitive Coding Contest</span>
            </div>
            <div class="card-action">
                <a href = "https://drive.google.com/file/d/1z-iF3Zw-EhUqjj1P5THveYoQqQoRoUWu/view" target = "_blank">Certificate Link</a>
            </div>
        </div>
    </div>
    <div class = "col s0 md1 l2 xl2">

    </div>
</div>

<div class = "row achievement-item">
    <div class = "col s0 md1 l2 xl2">

    </div>
    <div class = "col s12 md10 l8 xl8" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "600">
        <div class = "card">
            <div class="card-content">
                <span class="card-title"><strong>715/800 Marks</strong> and <strong>Institute Topper</strong> @ Cocubes Pre-Assess in my College</span>
            </div>
            <div class="card-action">
                <a href = "https://drive.google.com/file/d/14wzGo5rnrEY5LjnIjngjgzO2cOuf1hqL/view" target = "_blank">Cocubes Report Link</a>
            </div>
        </div>
    </div>
    <div class = "col s0 md1 l2 xl2">

    </div>
</div>

<div class = "row achievement-item">
    <div class = "col s0 md1 l2 xl2">

    </div>
    <div class = "col s12 md10 l8 xl8" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "600">
        <div class = "card">
            <div class="card-content">
                <span class="card-title"><strong>207<sup>th</sup>/14429</strong> @ CodeChef November Long 2020 Div. 2</span>
            </div>
            <div class="card-action">
                <a href = "https://www.codechef.com/rankings/NOV20B?filterBy=&order=asc&search=bhagesh_007&sortBy=rank" target = "_blank">Leaderboard Link</a>
            </div>
        </div>
    </div>
    <div class = "col s0 md1 l2 xl2">

    </div>
</div>

<div class = "row achievement-item">
    <div class = "col s0 md1 l2 xl2">

    </div>
    <div class = "col s12 md10 l8 xl8" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "600">
        <div class = "card">
            <div class="card-content">
                <span class="card-title"><strong>2903 Global Rank</strong> @ Google Hash Code 2021</span>
            </div>
            <div class="card-action">
                <a href = "https://drive.google.com/file/d/17dgOCoy1Q4_vSK5UBOy7YMjd3I8oEqlC/view" target = "_blank">Certificate Link</a>
            </div>
        </div>
    </div>
    <div class = "col s0 md1 l2 xl2">

    </div>
</div>

<div class = "row achievement-item">
    <div class = "col s0 md1 l2 xl2">

    </div>
    <div class = "col s12 md10 l8 xl8" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "600">
        <div class = "card">
            <div class="card-content">
                <span class="card-title">Round 1 - <strong>AIR 687(Global Rank: 3452)</strong> @ Google Code Jam 2021</span>
            </div>
            <div class="card-action">
                <a href = "https://drive.google.com/file/d/1erBfN8ZgWT3qIeJ_cvkfUrHZLdXoABE0/view" target = "_blank">Certificate Link</a>
            </div>
        </div>
    </div>
    <div class = "col s0 md1 l2 xl2">

    </div>
</div>