<div>
    <h3 class = "section-title"><i class="fas fa-code"></i> Coding Profiles</h3>
</div>

<div class = "codechef-profile reveal" data-aos = "fade-right" data-aos-easing="ease-out-cubic" data-aos-duration = "500" data-aos-offset="200">
    <img src = "/images/codechef-image.png" alt="">
    <a href = "https://www.codechef.com/users/bhagesh_007" target = "_blank" class = "custom-button">
        CodeChef Profile
    </a>
</div>

<div class = "github-profile reveal" data-aos = "fade-right" data-aos-easing = "ease-out-cubic" data-aos-duration = "500" data-aos-offset="200">
    <img src = "https://cdn-icons-png.flaticon.com/512/25/25231.png" alt = "">
    <a href = "https://github.com/Bhagesh-Bhutani" target = "_blank" class = "custom-button">
        Github Profile
    </a>
</div>

<div class = "leetcode-profile reveal" data-aos = "fade-right" data-aos-easing="ease-out-cubic" data-aos-duration = "500" data-aos-offset="200">
    <img src = "/images/leetcode-image.png" alt = "">
    <a href = "https://leetcode.com/bhagesh_007/" target = "_blank" class = "custom-button">
        LeetCode Profile
    </a>
</div>