<div class = "navbar-fixed">
    <nav class = "indigo darken-4">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-large-and-up"><i class="fas fa-bars"></i></a>
            <ul class="left hide-on-med-and-down">
            <li><a href = "#"><i class="fas fa-home"></i></a></li>
            <li><a href = "#coding-profiles">Coding Profiles</a></li>
            <li><a href = "#projects">Projects</a></li>
            <li><a href = "#experience">Experience</a></li>
            <li><a href = "#achievements">Achievements</a></li>
            <li><a href = "#education">Education</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo">
    <li><a href = "#" class = "sidenav-close">Home</a></li>
    <li><a href = "#coding-profiles" class = "sidenav-close">Coding Profiles</a></li>
    <li><a href = "#projects" class = "sidenav-close">Projects</a></li>
    <li><a href = "#experience" class = "sidenav-close">Experience</a></li>
    <li><a href = "#achievements" class = "sidenav-close">Achievements</a></li>
    <li><a href = "#education" class = "sidenav-close">Education</a></li>
</ul>