<h3 class = "section-title"><i class="fas fa-laptop-code"></i> Projects</h3>

<div class = "codeial-project reveal" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "700" data-aos-offset = "300">
    <h3 class = "project-title sub-title indigo darken-4">Codeial: A Social Media Website</h3>
    <div class = "buttons-container">
        <a href = "https://github.com/Bhagesh-Bhutani/Social-Media-Website-Codeial" target = "_blank" class = "custom-button">
            <i class="fab fa-github"></i> Github
        </a>
        <a href = "https://codeialbhagesh.herokuapp.com/" target = "_blank" class = "custom-button">
            <i class="fas fa-globe"></i> Website
        </a>
    </div>
    <img src = "https://firebasestorage.googleapis.com/v0/b/bhagesh-bhutani-portfolio.appspot.com/o/codeialbhagesh.gif?alt=media&token=79df6455-5168-48a7-b0f3-1819f08047c3" alt = "">
</div>

<div class = "online-teaching-website-project reveal" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "700" data-aos-offset = "300">
    <h3 class = "project-title sub-title indigo darken-4">Online Teaching Website</h3>
    <div class = "buttons-container">
        <a href = "https://github.com/Bhagesh-Bhutani/Online-Teaching-Website" target = "_blank" class = "custom-button">
            <i class="fab fa-github"></i> Github
        </a>
        <a href = "https://bhagesh-bhutani-summer-project.herokuapp.com/" target = "_blank" class = "custom-button">
            <i class="fas fa-globe"></i> Website
        </a>
    </div>
    <img src = "https://firebasestorage.googleapis.com/v0/b/bhagesh-bhutani-portfolio.appspot.com/o/online-teaching-website-project.gif?alt=media&token=5206ba71-bef9-4055-b21b-82011342f2c0" alt = "">
</div>