<h3 class = "section-title"><i class="fas fa-laptop-code"></i> Projects</h3>

<div class = "codeial-project" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "500">
    <h3 class = "project-title sub-title indigo darken-4">Codeial: A Social Media Website</h3>
    <div class = "buttons-container">
        <a href = "https://github.com/Bhagesh-Bhutani/Social-Media-Website-Codeial" target = "_blank" class = "custom-button">
            <i class="fab fa-github"></i> Github
        </a>
        <a href = "https://codeialbhagesh.herokuapp.com/" target = "_blank" class = "custom-button">
            <i class="fas fa-globe"></i> Website
        </a>
    </div>
    <img src = "/gif/codeialbhagesh.gif" alt = "">
</div>

<div class = "online-teaching-website-project" data-aos = "flip-left" data-aos-easing="ease-out-cubic" data-aos-duration = "500">
    <h3 class = "project-title sub-title indigo darken-4">Online Teaching Website</h3>
    <div class = "buttons-container">
        <a href = "https://github.com/Bhagesh-Bhutani/Online-Teaching-Website" target = "_blank" class = "custom-button">
            <i class="fab fa-github"></i> Github
        </a>
        <a href = "https://bhagesh-bhutani-summer-project.herokuapp.com/" target = "_blank" class = "custom-button">
            <i class="fas fa-globe"></i> Website
        </a>
    </div>
    <img src = "/gif/online-teaching-website-project.gif" alt = "">
</div>