<link rel="stylesheet" href="/css/timeline.css">

  <section class="cd-timeline js-cd-timeline">
    <h3 style = "text-align: center;margin-bottom: 1.2rem;" class = "section-title"><i class="fas fa-briefcase"></i> Experience</h3>
    <div class="container max-width-lg cd-timeline__container">
      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">
            <!-- <i class="fas fa-circle"></i> -->
        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2 class = "coding-ninjas-exp">Coding Ninjas India</h2>
          <strong><p>C++ DSA Teaching Assistant Intern</p></strong>
          <p class="color-contrast-medium">Responsible for debugging codes of students and guiding them towards optimal
            solutions. Resolved <strong>857 Doubts</strong> with <strong>4.83/5 Rating</strong>.</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Nov 2020 - March 2021</span>
            <a href="https://drive.google.com/file/d/12P2HbsaBm-9HNU33hSHGrh9ul0qRy8W1/view" target = "_blank" class="btn btn--subtle">Certificate Link</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--movie">

        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>Alhansat Technologies</h2>
          <strong><p>Full Stack Development Intern</p></strong>
          <p class="color-contrast-medium">Made a <strong>CSS/JS Extractor</strong>, <strong>Flowchart based code generator</strong> and more such code maintenance tools for some ongoing projects.</p>
          
          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">Sep 2020 - Oct 2020</span>
            <a href="https://drive.google.com/file/d/1C8Jdn1uxhqXvfWY973QJMEdA17w3NACi/view" target = "_blank" class="btn btn--subtle">Certificate Link</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->

      <div class="cd-timeline__block">
        <div class="cd-timeline__img cd-timeline__img--picture">

        </div> <!-- cd-timeline__img -->

        <div class="cd-timeline__content text-component">
          <h2>JDMR Private Limited</h2>
          <strong><p>Full Stack Web Development Intern</p></strong>
          <p class="color-contrast-medium">Made a <strong>Video Conferencing Website</strong> from scratch using WebRTC framework. Also made a <strong>quiz portal</strong> which supports dynamic rendering of different types of questions. Also scaled <strong>Jitsi</strong> (an open source Video Conferencing Software) according to the company's needs.</p>

          <div class="flex justify-between items-center">
            <span class="cd-timeline__date">June 2020 - Sep 2020</span>
            <a href="https://drive.google.com/file/d/1im5QuFYznG3Q2Lr1WA4_dsfh6-4c7OTy/view" target = "_blank" class="btn btn--subtle">Certificate Link</a>
          </div>
        </div> <!-- cd-timeline__content -->
      </div> <!-- cd-timeline__block -->
      
    </div>
  </section> <!-- cd-timeline -->
  <script src="/js/timeline.js"></script>