<link rel="stylesheet" href = "/css/home.css">

<section class = "design-photo">
    <img src = "/images/Photo.jpg" alt = "" data-aos = "flip-up" data-aos-easing="ease-out-cubic" data-aos-duration = "800">
    <h3 class = "name-portfolio" data-aos = "fade-right" data-aos-easing="ease-out-cubic" data-aos-duration = "800">Bhagesh Bhutani</h3>
</section>

<section id = "coding-profiles" class = "coding-profiles">
    <%- include('_coding_profiles') %> 
</section>

<section id = "experience">
    <%- include('_timeline_experience') %> 
</section>


<script src = "/js/home.js"></script>