section:nth-child(even){
    background-color: rgb(240, 240, 240)
}

.design-photo{
    background-image: url('/images/sun-tornado.svg');
    /* background by SVGBackgrounds.com */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    >img{
        border-radius: 50%;
        margin-top: 2rem;
        border: solid rgb(228, 228, 228) 3px;
        box-shadow: 0 0 30px rgba(226, 226, 226, 0.815);
    }
    >h3{
        color: white;
    }
}

.coding-profiles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    >div{
        // padding: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        >img{
            border-radius: 1rem;
            max-width: 100%;
        }
    }
}

.github-profile{
    >img{
        width: 10rem;
    }
}

.name-portfolio{
    margin: 1rem 0;
}

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    >div{
        box-sizing: border-box;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        >img{
            border-radius: 1rem;
        }
    }
    >h2{
        margin: 1rem 0 0 0;
    }
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    >a{
        flex-shrink: 1;
        margin: 1rem;
    }
}

.section-title{
    box-sizing: border-box;
    text-align: center;
    padding: 1rem;
    color: white;
    border-radius: 3rem;
    width: 100%;
    background-color: black;
    font-weight: bold;
}

.project-title{
    margin-bottom: 1rem;
}

.sub-title{
    text-align: center;
    padding: 1rem;
    color: white;
    border-radius: 3rem;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}

@media screen and (max-width: 768px){
    // .leetcode-profile>img{
    //     transform: scale(0.7);
    // }
}

@media screen and (max-width: 576px){
    // .leetcode-profile>img{
    //     transform: scale(0.5);
    // }
}

@media screen and (max-width: 400px){
    .name-portfolio{
        font-size: 2.3rem;
    }
}