html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 1.05rem;
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
}

.custom-button{
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: white;
    background-color: #ff5733;
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 0.5rem;
    transition-timing-function: ease-in-out;
    &:hover{
        background-color: #ff370a;
    }
}